body{
    margin: 0;
    padding: 0;
    background-color: lightgrey;
}
ul{
    list-style: none;
    margin-left: 0;
    margin-top: 0;
    padding: 12px 10px 0 10px;
   
}
li{
    display: inline;
    margin: 5px 10px;
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
nav{
    margin-top: 0;
    background-color: olivedrab;
    font-family: Helvetica, sans-serif;
    border-bottom: 2px solid black;
    text-align: center;
    padding: 6px 0;

}

header{
    display: inline-block;
    margin-top: 0px;
    background-image: url(../img/img1.jpg);

    width: 100%;
    
    text-align: center;
}
.imgtxt{
    
    color: wheat;
    
}

header h1{
    margin-top: 120px;
    margin-bottom: 0;
    
    font-family: Papyrus, fantasy;
    font-size: 90px;
}
header p{
    padding-top: 0;
    margin-top: 0;
    font-family: cursive;
    font-size: 30px;
}

