body {
    margin: 0;
    padding: 0;
    background-color: lightgrey;
}

ul {
    list-style: none;
    margin-left: 0;
    margin-top: 0;
    padding: 12px 10px 0 10px;

}

li {
    display: inline;
    margin: 5px 10px;
    color: white;

}

a {
    text-decoration: none;
    color: white;
}

nav {
    margin-top: 0 10px;
    background-color: #163020; /* 294B29 */
    font-family: Helvetica, sans-serif;
    border-bottom: 2px solid black;
    font-size: 20px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
nav h3 a:hover {
    text-decoration: none;
    text-shadow: 2px 2px 4px rgb(255, 255, 255, 1);
}

nav ul li {
    color: whitesmoke;
    padding: 0 20px;
}

nav ul li a{
    color: whitesmoke;
}
nav ul li a:hover{
    text-decoration: none;
    text-shadow: 2px 2px 4px rgb(255, 255, 255, 1);
}
nav h3{
    float: left;
    color: whitesmoke;
    padding-left: 40px;
   
}

nav ul{
    overflow: auto;
    text-align: right;
    padding-top: 25px;
    padding-right: 50px;
    font-weight: bold;
}

header::before {
    content: "";
    background-image: url(../img/img3.jpg);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
    height: 650px;
    
}

header {

    position: relative;
    margin-top: 0px;
    padding-top: 0;
    text-align: center;
    display: inline-block;
    width: 100%;
    

}

.imgtxt {
    position: relative;
    text-shadow: 4px 4px 8px black;
    color: black;


}

.imgtxt h1 a{
    color: black;
}


.imgtxt a:hover {
    text-decoration: none;
    text-shadow: 2px 2px 4px rgb(255, 255, 255, 1);
}

header h1 {
    margin-top: 190px;
    margin-bottom: 200px;

    font-family: Papyrus, fantasy;
    font-size: 150px;
}

header p {
    padding-top: 0;
    margin-top: 0;
    font-family: cursive;
    font-size: 30px;
}


main {

    display: block;

}

#intro {
    padding: 50px 110px 0px 110px;
}

#intro img {
    float: right;
    margin-left: 15px;
    margin-right: 40px;
    margin-bottom: 10px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;

}

#intro h2 p {
    overflow: auto;
}

#intro h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
}

#intro p {

    margin-left: 50px;
    font-size: 30px;
}

#shop {
    text-align: center;
    background-color: #e8e8e8;
    display: block;
    padding-bottom: 100px;
}

#shop h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    margin-top: 50px;
    padding: 50px 0px;
}

#shop section {
    display: inline-block;
    width: 25%;
    height: 500px;
    margin: 20px 60px 40px 60px;
    background-color: whitesmoke;
    border-radius: 30px;
    border: 1px solid black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#shop img {

    width: 100%;
    height: 380px;
}

#prodimg {
    background-color: white;
    width: 100%;
    border-radius: 30px 30px 0 0;
}

#prodtxt {
    display: inline-block;
    border-radius: 0 0 30px 30px;
    margin-top: 0;
    background-color: #c3c4c3;
    width: 100%;
    height: 115px;
    border-bottom: 1px solid black;
    text-align: left;


}

#prodtxt h4 {
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 0;
    padding-left: 15px;
}

#prodtxt p {
    font-size: 20px;
    margin-top: 10px;
    padding-left: 20px;
}

#orderinfo {

    margin-top: 0;
    display: inline-block;
    width: 100%;
    background-color: #e8e8e8;
    text-align: center;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:black;
}

#orderinfo a{
    color:black;
    font-style: italic;
    font-weight: bold;
}

#orderinfo a:hover {
    text-decoration: none;
    text-shadow: 2px 2px 4px rgb(0, 0, 0,1);
}


#seeds {
    text-align: center;
    background-color: #e8e8e8;
    display: block;
    margin-bottom: 0;
}

#seeds h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    margin-top: 0;
    padding: 100px 0px 0px 50px;

}

#seeds section {
    display: inline-block;
    width: 37%;
    height: 450px;
    margin: 50px 90px 60px 60px;
    background-color: whitesmoke;
    border-radius: 30px;
    border: 1px solid black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#seeds img {
    width: 100%;
    height: 330px;
}

#seedimg {
    background-color: white;
    width: 100%;
    border-radius: 30px 30px 0 0;
}

#seedtxt {
    display: inline-block;
    border-radius: 0 0 30px 30px;
    margin-top: 0;
    background-color: #c3c4c3;
    width: 100%;
    height: 115px;
    border-bottom: 1px solid black;
    text-align: left;
}

#seedtxt h4 {
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 0;
    padding-left: 15px;
}

#seedtxt p {
    font-size: 20px;
    margin-top: 10px;
    padding-left: 20px;
}

#ful1 h3 {
    text-decoration: underline;
}

 #ful2 h3 {
    text-decoration: underline;
 }

#ful1 li a:hover {
    text-decoration: none;
    text-shadow: 2px 2px 4px rgb(255, 255, 255, 1);
}

#ful2 li:hover {
    text-decoration: none;
    text-shadow: 2px 2px 4px rgb(255, 255, 255, 1);
}

footer {
    display: inline-block;
    background-color: #163020;
    font-family: Helvetica, sans-serif;
    text-align: center;
    height: auto;
    width: 100%;
    margin-top: 0;
    border-top:  3px solid black;
    padding-top: 1%;
}

footer ul {
    list-style: none;
    color: whitesmoke;
    display: inline-block;
    padding: 0;
}

footer ul li {
    display: block;
    font-size: 20px;
    margin: 20px 10px;
    color: whitesmoke;
}


#ful1 {
    float: left;
    margin-left: 20%;
}
#icons li {
    display: inline;
}

#icons li a {
    padding-top: 3px;
}

.fbIcon {
    width: 30px;
    height: 30px;
}

.lnIcon {
    width: 30px;
    height: 30px;
}

.inIcon {
    width: 30px;
    height: 30px;
}

footer #heartIcon {
    margin: 0;
    padding: 0;
    width: 30px;
    height: 30px;
}
#iconLinks {
    margin-top: 0%;
}

footer p {
    clear: left;

}

footer ul li a {

    color: whitesmoke;
}

li {

    color: whitesmoke;
}

li a {
    color: whitesmoke;
}
footer p{
    color: whitesmoke;
}

hr {
    margin: 0;
}