body {
    margin: 0;
    padding: 0;
    background-color: lightgrey;
}

#topBar {
    margin-top: 0;
    background-color: #163020;
    height: 70px;
    font-family: Helvetica, sans-serif;
    border-bottom: 2px solid black;
    width: 100%;
    
}

#topBar h3 {
    color: white;
    font-size: 23px;
    padding-left: 40px;
    padding-top: 20px;
    margin-top: 0;
}

#topBar h3 a {
    text-decoration: none;
    color: white;
}

#topBar h3:hover {
    text-decoration: none;
    text-shadow: 2px 2px 4px rgb(255, 255, 255, 1);
}


nav {
    float: left;
    background-color: #163020;
    font-family: Helvetica, sans-serif;
    height: 710px;
    position: sticky;
    top:0;
    width: 10%;
    padding-top: 2%;
    border-right: 2px solid black;
}

ul {
    list-style: none;
    padding-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: larger;
}

nav ul li {
    margin: 5px;
}

nav ul li:hover {
    text-decoration: none;
    text-shadow: 2px 2px 4px rgb(255, 255, 255, 1);
}

header h1 {
    text-align: center;
    font-family: Papyrus, fantasy;
    
    font-size: 200px;
    margin-top: 0px;
    text-shadow: 4px 4px 8px black;
    padding-top: 180px;
    opacity: 1;
}

header a {
    color: white;
    
    text-decoration: none;
}

.BgImg {
    background-image: url("../img/fruitsBgPic.jpeg");
    height: 700px;
    background-size: cover;
    opacity: 0.75;
    border-bottom: 2px solid black;
}

.BgImg a:hover {
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0);
    /* color: black; */
}
#intro h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    margin-left: 200px;
}

#intro p {
    font-size: 20px;
    margin-left: 200px;
}

#intro img {
    height: 450px;
    width: 450px;
    float: right;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
}

#typesOfFruits {
    text-align: center;
    height: 750px;
    height: 100%;
    background-color: #e8e8e8;
    overflow: auto;
    margin-left:90px;
    padding: 0;
}

#typesOfFruits h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
}

#typesOfFruits section {
    display: inline-block;
    width: 25%;
    height: 490px;
    margin: 20px 30px 40px 60px;
    background-color: whitesmoke;
    border-radius: 30px;
    border: 1px solid black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#typesOfFruits img {
    width: 100%;
    height: 350px;
}

.prodImg {
    margin-top: 6%;
    height: 350px;
    width: 100%;
}

.prodTxt {
    background-color: #c3c4c3;
    width: 100%;
    height: 115px;
    margin-top: 0;
    border-radius: 0 0 30px 30px;
    border-bottom: 1px solid black;
}

.prodTxt h4 {
    text-align: left;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 0;
    padding-left: 15px;
}

.prodTxt p {
    font-size: 20px;
}

#typesOfSeeds{
    text-align: center;
    height: 900px;
    background-color: #e8e8e8;
    overflow: auto;
    height: 100%;
    margin:0;
    padding: 0;
}

#typesOfSeeds h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    padding-left: 6%;
}

#typesOfSeeds section {
    display: inline-block;
    width: 30%;
    height: 500px;
    margin: 20px 20px 40px 170px;
    background-color: whitesmoke;
    border-radius: 30px;
    border: 1px solid black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#typesOfSeeds img {
    width: 100%;
    height: 350px;
}

.seedsImg {
    margin-top: 6%;
    height: 200px;
    width: 200px;
    width: 100%;
    margin-bottom: 0;
}

.seedsTxt {
    background-color: #c3c4c3;
    height: 155px;
    margin-top: 123px;
    border-radius: 0 0 30px 30px;
    border-bottom: 1px solid black;
} 

.seedsTxt  h4 {
    text-align: left;
    font-size: 40px;
    margin-top: 10px;
    padding-top: 5%;
    margin-bottom: 5%;
    padding-left: 15px;
}

.seedsTxt  p {
    margin-top:5%;
    font-size: 20px;
}

#orderinfo {
    font-style: italic;
    font-weight: bold;
    margin-top: 0;
    display: inline-block;
    width: 100%;
    background-color: #e8e8e8;
    text-align: center;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
#orderinfo a {
    text-decoration: none;
    color: black;
}

#orderinfo a:hover {
    text-decoration: none;
    text-shadow: 2px 2px 4px rgb(0, 0, 0,1);
}

#ful1 h3 {
    text-decoration: underline;
}

 #ful2 h3 {
    text-decoration: underline;
 }

#ful1 li a:hover {
    text-decoration: none;
    text-shadow: 2px 2px 4px rgb(255, 255, 255, 1);
}

#ful2 li:hover {
    text-decoration: none;
    text-shadow: 2px 2px 4px rgb(255, 255, 255, 1);
}
footer {
    background-color: #163020;
    font-family: Helvetica, sans-serif;
    text-align: center;
    height: auto;
    width: 100%;
    margin-top: 0;
    float: left;
    overflow: auto;
    border-top:  2px solid black;
}

footer ul {
    list-style: none;
    color: whitesmoke;
    display: inline-block;
    padding: 0;

}

footer ul li {
    display: block;
    font-size: 20px;
    margin: 20px 10px;
    color: whitesmoke;
}

#ful1 {
    float: left;
    margin-left: 20%;
}

#icons li {
    display: inline;
}

#icons li a {
    padding-top: 3px;
}

.fbIcon {
    width: 30px;
    height: 30px;
}

.lnIcon {
    width: 30px;
    height: 30px;
}

.inIcon {
    width: 30px;
    height: 30px;
}

footer #heartIcon {
    margin: 0;
    padding: 0;
    width: 30px;
    height: 30px;
}
#iconLinks {
    margin-top: 0%;
}

footer p {
    clear: left;
    color: whitesmoke;

}

footer ul li a {
    text-decoration: none;
    color: whitesmoke;
}
